.keyboard__key {
    height: 45px;
    width: 6%;
    max-width: 90px;
    margin: 3px;
    border-radius: 4px;
    border: none;
    background: rgba(200, 20, 255, 0.8);
    color: #ffffff;
    font-size: 1.05rem;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    position: relative;
}

.keyboard__key:hover {
    background: rgba(0, 0, 0, 1);
}

.active:hover {
    background: rgba(200, 20, 255, 0.5);
}

.wide {
    width: 12%;
}

.medium {
    width: 9%;
}

.space {
    width: 46%;
}