* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body, main {
    height: 100%;
}

.workspace {
    height: 100%;
    display: flex;
}

.workspace__aside {
    width: 20%;
    height: 100%;

    background-color: gray;
    flex-shrink: 0;
}

.workspace__dashboard {
    flex-grow: 1;
    background-color: blanchedalmond;
}

.dashboard {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.dashboard__tools {
    height: 80px;
    background-color: coral;
    display: flex;
    flex-shrink: 0;
}

.dashboard__canvas-container {
    background-color: brown;
    flex-grow: 1;
    overflow: auto;
}