* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button {
    background-color: transparent;
    border: none;
}

:root {
    --border-color: rgb(235, 235, 240);
    --shadow-color: rgb(220, 220, 220);
    --hover-color: rgb(245, 245, 255);

    --toolbox-offset: 50px;
    
    --border: 1px solid var(--border-color);
}

html, body, main {
    height: 100%;
}
